*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}
header {
  margin-bottom: 50px;
}
nav {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_wrapp {
  font-size: 30px;
  padding: 10px 20px;
  background: green;
  color: white;
  border-radius: 14px;
}

.default__items {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}
.default_item {
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
}

section {
  margin-bottom: 50px;
}
.box {
  background: lightgrey;
  padding: 40px 20px;
}
.box_title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 20px;
}
.table_wrapp {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}
.page__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}
section.page_titles {
  margin-bottom: 20px;
  text-align: center;
}

.archive_lisnyctwa_item {
  background: white;
  padding: 20px;
}
.archive_lisnyctwa_item__title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.archive_lisnyctwa_item__subtitle {
  margin-bottom: 20px;
  text-align: center;
}
.archive_lisnyctwa_item__data {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  column-gap: 200px;
}
.archive_lisnyctwa_item__btns {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.archive_lisnyctwa_item__btns a {
  padding: 10px 40px;
  color: white;
  border-radius: 10px;
}
.archive_lisnyctwa_item__btns-edit {
  background: #3da54e;
}
.archive_lisnyctwa_item__btns-view {
  background: #df4f4f;
}
.archive_lisnyctwa_item__details_list_item,
.archive_lisnyctwa_item__total_list_item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.archive_lisnyctwa_item__total_list_item--value {
  background: lightgray;
  min-width: 150px;
  text-align: center;
  padding: 5px 15px;
}
.archive_lisnyctwa_item__data--total > p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
.archive_lisnyctwa_item {
  margin-bottom: 40px;
}
.search_wrapp {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.search_wrapp input {
  padding: 5px 10px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}
.page__title {
  margin-bottom: 10px;
}
.page__subtitle {
  margin-bottom: 10px;
  font-size: 24px;
}
.accordeon {
  background: darkgrey;
  padding: 0 20px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.accordeon__main {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.accordeon_content {
  padding-bottom: 20px;
}
.accordeon__main img {
  width: 15px;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}
.accordeon.active img {
  transform: rotate(0deg);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer_copyright {
  text-align: center;
  background: darkgray;
  color: white;
  padding: 5px;
}
footer {
  margin-top: auto;
}
.login_form_section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_form_container {
  max-width: 100%;
}
.login_form_container form {
  transform: translateY(-40px);
  background: darkgrey;
  padding: 30px 30px;
  width: 300px;
  max-width: 100%;
}
.login_form_container form label {
  display: block;
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}
.login_form_container form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
}
.login_form_container form button {
  background: #3da54e;
  padding: 10px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.form_error_wrapp {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  white-space: nowrap;
  padding: 3px 10px;
  background: #b00020;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}
.form_error_wrapp.show {
  display: block;
}
.logout_btn {
  margin-left: auto;
  background: #df4f4f;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.archive_lisnyctwa_item__data {
  display: block;
}
.archive_lisnyctwa_item__data--total > p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
}

.archive_lisnyctwa_item__total_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 5px;
}
.archive_lisnyctwa_item__total_list_item {
  display: flex;
  justify-content: space-between;
}
.archive_lisnyctwa_item__total_list_item p {
  flex: 1;
}
.accordeon__table table {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.accordeon__table table th,
.accordeon__table table td {
  padding: 10px 10px;
  text-align: center;
  border: 1px solid black;
}
.accordeon__table {
  max-width: 100%;
  overflow: scroll;
}
thead {
  text-transform: capitalize;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.total_row {
  background: #df4f4f !important;
  color: white;
}
.type_total_column {
  background: #ff99cc;
}
.row_items_total {
  background-color: #ff99cc;
  color: white;
}
.section_total {
  background-color: #ff99cc;
  color: white;
}
.dilova_column {
  background-color: #ff99cc;
  color: white;
}
.ostatky_table thead th {
  min-width: 100px;
}
.ostatky_table--totals {
  font-weight: bolder;
}

.ostatky_table--percentage {
  background: #ffff99 !important;
  font-weight: bold;
}
.numer_kvytka {
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.navbar_link {
  background: rgb(151, 151, 229);
  padding: 10px;
  display: inline-block;
  color: white;
  margin-right: 20px;
  border-radius: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.create_ticket_form_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.create_ticket_form_block p {
  margin-bottom: 10px;
  font-weight: 500;
}
.create_ticket_form_block input {
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid grey;
  outline: none;
}
.create_ticket_data_single {
  display: flex;
}
.create_ticket_data_single > div {
  flex: 1;
}
.create_ticket_data_single__left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.create_ticket_data_single {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 3px solid grey;
}
.create_ticket_input_box {
  display: flex;
  flex-direction: column;
}
.create_ticket_input_box label::after {
  content: ":";
}
.create_ticket_input_box input {
  width: 200px;
  height: 30px;
  padding-left: 5px;
}
.create_ticket_input_box label {
  font-size: 14px;
}
.create_ticket_data_single__right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.create_ticket_section h1 {
  text-align: center;
  margin-bottom: 20px;
}
.create_ticket_data_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.create_ticket_data_single {
  flex: 1;
  min-width: 45%;
}
.create_ticket_data_single__right {
  justify-content: center;
}
.create_ticket_data_single:nth-child(2n) {
  border-left: 3px solid grey;
}
.create_ticket__submit {
  background: #008000;
  color: whtie;
  border: none;
  outline: none;
  padding: 10px 30px;
  display: inline-block;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.create_ticket__btns {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.create_ticket_data_single input {
  outline: none;
  border-radius: 8px;
  border: 2px solid grey;
}
.input_with_error {
  border: 3px solid #df4f4f !important;
}
input[name="ticket_number"] {
  pointer-events: none;
}

body {
  background: #8ee4af;
}
header {
  background: none;
}
.footer_copyright {
  background: #05386b;
}
.login_form_container form {
  background: #05386b;
  border-radius: 15px;
}
.login_form_container form button {
  background: #379683;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}
.login_form_container form button:hover {
  animation: shake 0.2s ease forwards;
}
.login_form_container form input {
  transition: all 0.2s ease;
  border: none;
}
.login_form_container form input:focus {
  outline: 3px solid #008000;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.default__items {
  background: #05386b;
  border-radius: 10px;
}
.default_item {
  background: #379683;
  color: #edf5e1;
}
.default_item:hover {
  animation: shake 0.2s ease forwards;
}

.box {
  background: none;
}
.archive_lisnyctwa_item {
  background: #05386b;
  color: #edf5e1;
  border-radius: 10px;
}
.archive_lisnyctwa_item__total_list_item--value {
  background: #379683;
  border-radius: 10px;
}
.search_wrapp input {
  transition: all 0.2s ease;
  border: none;
}
.search_wrapp input:focus {
  outline: 3px solid #008000;
}
.box {
  background: none;
}
.archive_lisnyctwa_item {
  background: #05386b;
  color: #edf5e1;
  border-radius: 10px;
}
.archive_lisnyctwa_item__total_list_item--value {
  background: #379683;
  border-radius: 10px;
}
.search_wrapp input {
  transition: all 0.2s ease;
  border: none;
}
.search_wrapp input:focus {
  outline: 3px solid #008000;
}
.accordeon {
  background: #05386b;
}
.accordeon__main p,
.numer_kvytka {
  color: #edf5e1;
}
.create_ticket_data_single {
  border-bottom: 3px solid #05386b;
}
.create_ticket_data_single:nth-child(2n) {
  border-left: 3px solid #05386b;
}
.create_ticket_data_single input {
  border: none;
  margin-top: 10px;
  transition: all 0.2s ease;
}
.create_ticket_data_single input:focus {
  outline: 3px solid #008000;
}
.create_ticket_data_single__left p {
  text-transform: uppercase;
  background: #05386b;
  color: #edf5e1;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: underline;
}
.create_ticket_form_block input {
  border: none;
}
select {
  border: none;
  margin-top: 10px;
  transition: all 0.2s ease;
  width: 200px;
  height: 30px;
  padding-left: 5px;
  border-radius: 8px;
  background: white;
}
.lisnyctwo_inf {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
}
.lisnyctwo_inf__name {
  text-transform: uppercase;
  background: #008000;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: underline;
}

.table_filters .hidden {
  pointer-events: none;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}
.table_filters select {
  transition: all 0.3s ease;
  opacity: 1;
  width: 200px;
  margin-top: 0;
}
.hidden_block {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.row-data.hidden-row {
  display: none;
}
.row-data.hidden-row-imp {
  display: none;
}
.table_filters {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
